<rz-content #content1 container="main">
  <div [ngStyle]="{'height': '', 'marginTop': '-7px', 'paddingBottom': '0', 'paddingLeft': '5px', 'paddingRight': '3px', 'paddingTop': '0', 'width': ''}" class="row">
    <div class="justify-content-start  col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-center" [ngStyle]="{'height': '57px', 'paddingBottom': '1px'}">
      <rz-heading #heading18 size="H1" [style]="{'color': '#5d717b', 'display': 'inline-block'}" text="Einstellungen">
      </rz-heading>
      <rz-heading #heading19 size="H3" [style]="{'color': '#e5ecef', 'display': 'inline-block', 'marginTop': '7px', 'paddingLeft': '10px', 'paddingRight': '10px'}" text="|">
      </rz-heading>
      <rz-heading #heading21 size="H3" [style]="{'color': '#789BC0', 'display': 'inline', 'fontSize': '21px', 'fontWeight': 'normal'}" text="Grundeinstellungen für Module" >
      </rz-heading>
    </div>
  </div>
  <rz-tabs #tabs0 [style]="{'float': 'none'}">
    <rz-tabs-item [selected]="false" text="Infotexte">
      <div class="row">
        <div class="col-md-5">
          <rz-panel #panel1 [style]="{'border': '1px solid #e6ecef', 'height': '750px'}" text="{{rstInfotexteCount}} Infotexte">
            <rz-grid #gridInfotexte [allowAdd]="false" [allowColumnResize]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" applyFilterText="Apply" clearFilterText="Clear" [confirmDelete]="false" containsText="Contains" [count]="rstInfotexteCount" [data]="rstInfotexte" emptyText="Keine Infotexte vorhanden" endsWithText="Ends with" equalsText="Equals" filterCaseSensitivity="caseInsensitive" greaterThanOrEqualsText="Greater than or equals" greaterThanText="Greater than" lessThanOrEqualsText="Less than or equals" lessThanText="Less than" notEqualsText="Not equals" [pageSize]="15" startsWithText="Starts with" [style]="{'border': '1px solid rgba(0, 0, 0, 0)', 'height': '700px', 'marginLeft': '-10px', 'marginRight': '-10px', 'marginTop': '-13px'}" (loadData)="gridInfotexteLoadData($event)" (rowDoubleClick)="gridInfotexteRowDoubleClick($event)" (rowSelect)="gridInfotexteRowSelect($event)">
              <rz-grid-column property="Titel" title="Titel" width="60%" type="string">
              </rz-grid-column>
              <rz-grid-column property="Code" title="Code" width="40%" type="string">
              </rz-grid-column>
            </rz-grid>
            <rz-panel-header>
              <div class="row">
                <div class="col-md-12 align-items-start d-flex">
                  <rz-button #button0 buttonStyle="light" icon="add" size="sm" [style]="{'color': '#D86E13', 'display': 'block'}" text="Neuer Infotext" (click)="button0Click($event)">
                  </rz-button>
                  <rz-button #buttonBearbeiten buttonStyle="light" icon="create" size="sm" [style]="{'color': '#D86E13', 'marginLeft': '10px', 'paddingLeft': ''}" tooltip="Bearbeiten Infotext" (click)="buttonBearbeitenClick($event)">
                  </rz-button>
                  <rz-button #buttonLoeschen buttonStyle="light" [disabled]="false" icon="clear" size="sm" [style]="{'color': '#D86E13', 'fontWeight': 'normal', 'marginLeft': '10px', 'marginRight': '-9px', 'paddingLeft': ''}" tooltip="Löschen Infotext" (click)="buttonLoeschenClick($event)">
                  </rz-button>
                </div>
              </div>
            </rz-panel-header>
          </rz-panel>
        </div>
        <div class="col-md-7" [ngStyle]="{'paddingLeft': '5px'}">
          <rz-panel #panel0 [style]="{'border': '1px solid #e6ecef', 'height': '750px'}" [text]="dsoInfotexte?.Titel">
            <div [ngStyle]="{'marginLeft': '-36px', 'marginRight': '-36px', 'marginTop': '-12px'}" class="row">
              <div class="col-md-12" [ngStyle]="{}">
                <rz-html #htmlEditorInfotexte>
                  <p-editor [(ngModel)]="strInfotext" [style]="{'height': '645px'}">
                      <p-header>
                  		<span class="ql-formats">
                             <select class="ql-font"></select>
                  		   <select class="ql-header">
                  			    <option value="1">Titel 1</option>
                  			    <option value="2">Titel 2</option>
                  			    <option value="3">Titel 3</option>
                  			    <option value="4">Titel 4</option>
                  			    <option value="5">Titel 5</option>
                  			    <option value="6">Titel 6</option>
                  			    <option selected>Normal</option>
                  			</select>
                  		</span>
                  		
                  		<span class="ql-formats">
                  			<button class="ql-bold" aria-label="Bold">Fett</button>
                  			<button class="ql-italic" aria-label="Italic"></button>
                  			<button class="ql-underline" aria-label="Underline"></button>
                  		</span>
                  
                  		<span class="ql-formats">
                  			<select class="ql-align"></select>
                  		</span>		
                  
                  		<span class="ql-formats">
                  			<button class="ql-list" value="ordered"></button>
                  			<button class="ql-list" value="bullet"></button>
                  			<button class="ql-indent" value="-1"></button>
                  			<button class="ql-indent" value="+1"></button>
                  		</span>
                  
                  		<span class="ql-formats">
                  			<button class="ql-blockquote"></button>
                  		</span>		
                  
                  		<span class="ql-formats">
                  			<select class="ql-color"></select>
                  			<select class="ql-background"></select>
                  		</span>
                  
                      </p-header>
                  </p-editor>
                </rz-html>
              </div>
            </div>
            <rz-panel-header>
              <div class="row">
                <div class="col-md-12 align-items-start d-flex">
                  <rz-button #button4 buttonStyle="light" buttonType="submit" icon="done" size="sm" [style]="{'color': '#5dbf74', 'display': 'block', 'marginRight': '-9px'}" text="Speichern" (click)="button4Click($event)">
                  </rz-button>
                </div>
              </div>
            </rz-panel-header>
          </rz-panel>
        </div>
      </div>
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
