<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #nameLabel component="Name" [style]="{'width': '100%'}" text="Name">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #name [maxLength]="250" [style]="{'width': '100%'}" name="Name">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #krzelLabel component="Krzel" [style]="{'width': '100%'}" text="Kürzel">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #krzel [maxLength]="50" [style]="{'width': '100%'}" name="Krzel">
            </rz-textbox>
          </div>
        </div>
        <div class="row">
          <div class="col offset-sm-3 justify-content-end d-flex">
            <rz-button #button1 buttonStyle="success" buttonType="submit" icon="done" text="Speichern">
            </rz-button>
            <rz-button #button2 buttonStyle="light" [style]="{'marginLeft': '1rem'}" text="Abbruch" (click)="button2Click($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </div>
  </div>
</rz-content>
