<rz-content #content1 container="main">
  <div [ngStyle]="{'height': '', 'marginTop': '-7px', 'paddingBottom': '0', 'paddingLeft': '5px', 'paddingRight': '3px', 'paddingTop': '0', 'width': ''}" class="row">
    <div class="justify-content-start  col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-center" [ngStyle]="{'height': '57px', 'paddingBottom': '1px'}">
      <rz-heading #heading18 size="H1" [style]="{'color': '#5d717b', 'display': 'inline-block'}" text="Nachrichten">
      </rz-heading>
      <rz-heading #heading19 size="H3" [style]="{'color': '#e5ecef', 'display': 'inline-block', 'marginTop': '7px', 'paddingLeft': '10px', 'paddingRight': '10px'}" text="|">
      </rz-heading>
      <rz-heading #heading21 size="H3" [style]="{'color': '#5d717b', 'display': 'inline', 'fontSize': '21px', 'fontWeight': 'normal'}" text="Hier entsteht was neues" >
      </rz-heading>
    </div>
  </div>
  <rz-tabs #tabs0 [style]="{'float': 'none'}">
    <rz-tabs-item [selected]="true" text="Daten">
      <div class="row">
        <div class="col-md-4">
          <rz-panel #panel2 [allowCollapse]="false" [style]="{'border': '1px solid #e6ecef', 'height': '750px'}" text="Daten 1">
          </rz-panel>
        </div>
        <div class="col-md-4" [ngStyle]="{'paddingLeft': '5px'}">
          <rz-panel #panel3 [style]="{'border': '1px solid #e6ecef', 'height': '360px'}" text="Daten 2">
          </rz-panel>
          <rz-panel #panel1 [style]="{'border': '1px solid #e6ecef', 'height': '370px', 'marginTop': '20px'}" text="Sonstiges">
          </rz-panel>
        </div>
        <div class="col-md-4" [ngStyle]="{'paddingLeft': '5px'}">
          <rz-panel #bild [style]="{'border': '1px solid #e6ecef', 'height': '750px'}" text="Daten 3">
          </rz-panel>
        </div>
      </div>
    </rz-tabs-item>
    <rz-tabs-item [selected]="false" text="Weitere">
      <div class="row">
        <div class="col-md-4">
          <rz-panel #panel0 [allowCollapse]="false" [style]="{'border': '1px solid #e6ecef', 'height': '750px'}" text="Weitere 1">
          </rz-panel>
        </div>
        <div class="col-md-4" [ngStyle]="{'paddingLeft': '5px'}">
          <rz-panel #panel4 [style]="{'border': '1px solid #e6ecef', 'height': '360px'}" text="Weitere 2">
          </rz-panel>
          <rz-panel #panel5 [style]="{'border': '1px solid #e6ecef', 'height': '370px', 'marginTop': '20px'}" text="Sonstiges">
          </rz-panel>
        </div>
        <div class="col-md-4" [ngStyle]="{'paddingLeft': '5px'}">
          <rz-panel #panel6 [style]="{'border': '1px solid #e6ecef', 'height': '750px'}" text="Weitere 3">
          </rz-panel>
        </div>
      </div>
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
