<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #kursart component="KursArtNr" [style]="{'width': '100%'}" text="Kursart">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown #kursArtNr [data]="rstKurseArten" emptyFilterText="No results found" multipleItemsSelectedText="{0} items selected" placeholder="Kursart auswählen" [style]="{'display': 'block', 'width': '100%'}" textProperty="Bezeichnung" [(ngModel)]="dsoKurse && dsoKurse.KursArtNr" valueProperty="KursArtNr" name="KursArtNr">
            </rz-dropdown>
            <rz-required-validator #kursArtNrRequiredValidator [component]="kursArtNr" [style]="{'position': 'absolute'}" text="Kursart erforderlich">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #titelLabel component="Titel" [style]="{'width': '100%'}" text="Titel">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #titel [maxLength]="50" [style]="{'width': '100%'}" [(ngModel)]="dsoKurse && dsoKurse.Titel" name="Titel">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #untertitelLabel component="Untertitel" [style]="{'width': '100%'}" text="Untertitel">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #untertitel [maxLength]="50" [style]="{'width': '100%'}" [(ngModel)]="dsoKurse && dsoKurse.Untertitel" name="Untertitel">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #kurzzeichenLabel component="Kurzzeichen" [style]="{'width': '100%'}" text="Kurzzeichen">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #kurzzeichen [maxLength]="10" [style]="{'width': '100%'}" [(ngModel)]="dsoKurse && dsoKurse.Kurzzeichen" name="Kurzzeichen">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label0 component="Beschreibung" [style]="{'width': '100%'}" text="Beschreibung">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textarea #beschreibung [rows]="10" [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="dsoKurse && dsoKurse.Beschreibung" name="Beschreibung">
            </rz-textarea>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #anzahlThemenLabel component="AnzahlThemen" [style]="{'width': '100%'}" text="Anzahl Themen">
            </rz-label>
          </div>
          <div class="col-md-3">
            <rz-numeric #anzahlThemen [style]="{'width': '100%'}" [(ngModel)]="dsoKurse && dsoKurse.AnzahlThemen" name="AnzahlThemen">
            </rz-numeric>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #printkursLabel component="Printkurs" [style]="{'width': '100%'}" text="Printkurs">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-checkbox #printkurs [triState]="false" [(ngModel)]="dsoKurse && dsoKurse.Printkurs" name="Printkurs">
            </rz-checkbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #onlinekursLabel component="Onlinekurs" [style]="{'width': '100%'}" text="Onlinekurs">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-checkbox #onlinekurs [triState]="false" [(ngModel)]="dsoKurse && dsoKurse.Onlinekurs" name="Onlinekurs">
            </rz-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col offset-sm-3 justify-content-end d-flex">
            <rz-button #button1 buttonStyle="success" buttonType="submit" icon="done" text="Speichern">
            </rz-button>
            <rz-button #button2 buttonStyle="light" [style]="{'marginLeft': '1rem'}" text="Abbruch" (click)="button2Click($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </div>
  </div>
</rz-content>
