<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-integer-form-field property="Nummer" [required]="true" title="Nummer" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="integer">
        </rz-integer-form-field>
        <rz-string-form-field property="Titel" [required]="false" title="Titel" [maxLength]="50" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Untertitel" [required]="false" title="Untertitel" [maxLength]="100" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Kurzbeschreibung" [required]="false" title="Kurzbeschreibung" [maxLength]="16777215" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Begleitmaterial" [required]="false" title="Begleitmaterial" [maxLength]="16777215" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Druckfehler" [required]="false" title="Druckfehler" [maxLength]="16777215" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="InfoMemo" [required]="false" title="Info Memo" [maxLength]="16777215" requiredText="is required" type="string">
        </rz-string-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
