<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="benutzer" *ngIf="benutzer" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field property="AspNetUsers_Id" [required]="false" title="Asp Net Users Id" [maxLength]="255" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Benutzername" [required]="false" title="Benutzername" [maxLength]="130" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Initialen" [required]="false" title="Initialen" [maxLength]="2" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="BenutzerEMail" [required]="false" title="Benutzer E Mail" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Notiz" [required]="false" title="Notiz" [maxLength]="65535" requiredText="is required" type="string">
        </rz-string-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
