<rz-content #content1 container="main">
  <div [ngStyle]="{'marginTop': '-7px', 'paddingBottom': '0', 'paddingLeft': '5px', 'paddingRight': '3px', 'paddingTop': '0'}" class="row">
    <div class="d-flex align-items-center justify-content-start  col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <rz-heading #heading8 size="H1" [style]="{'color': '#5d717b', 'display': 'inline-block'}" text="Textbausteine">
      </rz-heading>
      <rz-heading #heading9 size="H3" [style]="{'color': '#6d787d', 'display': 'inline-block', 'marginTop': '9px', 'paddingLeft': '10px', 'paddingRight': '10px'}" text="|">
      </rz-heading>
      <rz-heading #heading16 size="H3" [style]="{'color': '#6d787d', 'display': 'inline', 'marginTop': '9px'}" text="Hier entsteht was neues" >
      </rz-heading>
    </div>
  </div>
  <rz-tabs #tabs0 [style]="{'float': 'none', 'height': '826px'}">
    <rz-tabs-item [selected]="true" text="Daten">
      <div [ngStyle]="{'marginBottom': '-17px', 'visibility': 'visible'}" class="row">
        <div class="col-lg-6" [ngStyle]="{'paddingRight': '0px'}">
          <rz-html #html0>
            <p-editor [(ngModel)]="selectedTextbaustein" [style]="{'height': '702px'}">
                <p-header>
            
            		<span class="ql-formats">
            			<select class="ql-font">
                            <option selected>Aref Ruqaa</option>
                            <option value="mirza">Mirza</option>
                            <option value="roboto">Roboto</option>
            			</select>
            		</span>
                
            		<span class="ql-formats">
            			<select class="ql-header">
            			    <option value="1">Titel 1</option>
            			    <option value="2">Titel 2</option>
            			    <option value="3">Titel 3</option>
            			    <option value="4">Titel 4</option>
            			    <option value="5">Titel 5</option>
            			    <option value="6">Titel 6</option>
            			    <option selected>Normal</option>
            			</select>
            		</span>
            		
            		<span class="ql-formats">
            			<button class="ql-bold" aria-label="Bold">Fett</button>
            			<button class="ql-italic" aria-label="Italic"></button>
            			<button class="ql-underline" aria-label="Underline"></button>
            		</span>
            
            		<span class="ql-formats">
            			<button class="ql-blockquote"></button>
            		</span>		
            
            		<span class="ql-formats">
            			<select class="ql-align"></select>
            		</span>		
            
            		<span class="ql-formats">
            			<select class="ql-color"></select>
            			<select class="ql-background"></select>
            		</span>
            
            		<span class="ql-formats">
            			<button class="ql-list" value="ordered"></button>
            			<button class="ql-list" value="bullet"></button>
            			<button class="ql-indent" value="-1"></button>
            			<button class="ql-indent" value="+1"></button>
            		</span>
                </p-header>
            </p-editor>
          </rz-html>
        </div>
        <div class="col-lg-6" [ngStyle]="{}">
          <rz-tabs #tabs2 [style]="{'height': '700px'}">
            <rz-tabs-item [selected]="false" text="Bausteine">
            </rz-tabs-item>
            <rz-tabs-item [selected]="false" text="Metadaten">
            </rz-tabs-item>
            <rz-tabs-item [selected]="false" text="Bilder">
            </rz-tabs-item>
            <rz-tabs-item [selected]="true" text="Vorschau">
            </rz-tabs-item>
          </rz-tabs>
        </div>
      </div>
    </rz-tabs-item>
    <rz-tabs-item [selected]="false" text="Weitere">
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
