<rz-content #content1 container="main">
  <div [ngStyle]="{'height': '', 'marginTop': '-7px', 'paddingBottom': '0', 'paddingLeft': '5px', 'paddingRight': '3px', 'paddingTop': '0', 'width': ''}" class="row">
    <div class="justify-content-start  col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-center" [ngStyle]="{'height': '57px', 'paddingBottom': '1px'}">
      <rz-heading #heading1 size="H1" [style]="{'color': '#5d717b', 'display': 'inline-block'}" text="Benutzerprofil">
      </rz-heading>
      <rz-heading #heading2 size="H3" [style]="{'color': '#e5ecef', 'display': 'inline-block', 'marginTop': '7px', 'paddingLeft': '10px', 'paddingRight': '10px'}" text="|">
      </rz-heading>
      <rz-heading #heading3 size="H3" [style]="{'color': '#5d717b', 'display': 'inline', 'fontSize': '21px', 'fontWeight': 'normal'}" text="Modul in Arbeit" >
      </rz-heading>
    </div>
  </div>
  <rz-tabs #tabs0 [style]="{'float': 'none'}">
    <rz-tabs-item [selected]="true" text="Daten">
      <div class="row">
        <div class="col-md-4">
          <rz-panel #panel2 [allowCollapse]="false" [style]="{'border': '1px solid #e6ecef', 'height': '750px'}" text="Benutzer">
            <rz-template-form #form0 (submit)="form0Submit($event)">
              <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
                <div class="col-md-3" [ngStyle]="{'textAlign': 'right'}">
                  <rz-label #label4 component="textbox0" [style]="{'textAlign': 'left', 'width': '100%'}" text="Kontakt">
                  </rz-label>
                </div>
                <div class="col-md-9">
                  <rz-textbox #textbox0 [autoComplete]="false" [disabled]="true" [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="strNameKontakt" name="textbox0">
                  </rz-textbox>
                </div>
              </div>
              <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
                <div class="col-md-3" [ngStyle]="{'textAlign': 'right'}">
                  <rz-label #label2 component="Benutzername" [style]="{'textAlign': 'left', 'width': '100%'}" text="Anmeldename">
                  </rz-label>
                </div>
                <div class="col-md-9">
                  <rz-textbox #benutzername [autoComplete]="false" [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="dsoBenutzer && dsoBenutzer.Benutzername" name="Benutzername">
                  </rz-textbox>
                  <rz-required-validator #requiredValidator4 [component]="benutzername" [style]="{'position': 'absolute'}" text="Benutzername erforderlich">
                  </rz-required-validator>
                </div>
              </div>
              <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
                <div class="col-md-3" [ngStyle]="{'textAlign': 'right'}">
                  <rz-label #label3 component="Initialen" [style]="{'textAlign': 'left', 'width': '100%'}" text="Initialen">
                  </rz-label>
                </div>
                <div class="col-md-9">
                  <rz-textbox #initialen [autoComplete]="false" [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="dsoBenutzer && dsoBenutzer.Initialen" name="Initialen">
                  </rz-textbox>
                  <rz-required-validator #requiredValidator2 [component]="initialen" [style]="{'position': 'absolute'}" text="Initialien erforderlich">
                  </rz-required-validator>
                </div>
              </div>
              <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
                <div class="col-md-3" [ngStyle]="{'textAlign': 'right'}">
                  <rz-label #label0 component="Email" [style]="{'textAlign': 'left', 'width': '100%'}" text="E-Mail">
                  </rz-label>
                </div>
                <div class="col-md-9">
                  <rz-textbox #benutzerEMail [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="dsoBenutzer && dsoBenutzer.BenutzerEMail" name="BenutzerEMail">
                  </rz-textbox>
                  <rz-required-validator #requiredValidator0 [component]="benutzerEMail" [style]="{'position': 'absolute'}" text="E-Mail erforderlich">
                  </rz-required-validator>
                </div>
              </div>
              <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
                <div class="col-md-3" [ngStyle]="{'textAlign': 'right'}">
                  <rz-label #label1 component="LKZ" [style]="{'textAlign': 'left', 'width': '100%'}" text="LKZ">
                  </rz-label>
                </div>
                <div class="col-md-9">
                  <rz-textbox #lkz [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="dsoBenutzer && dsoBenutzer.LKZ" name="LKZ">
                  </rz-textbox>
                </div>
              </div>
              <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
                <div class="col-md-3">
                  <rz-label #roleNamesLabel component="RoleNames" [style]="{'textAlign': 'left', 'width': '100%'}" text="Rollen">
                  </rz-label>
                </div>
                <div class="col-md-9">
                  <rz-listbox #roleNames [allowFiltering]="false" [checkbox]="true" [data]="rstRollen" [multiple]="true" [showToggleAll]="false" [style]="{'display': 'block', 'width': '100%'}" textProperty="Titel" [(ngModel)]="dsoUser && dsoUser.RoleNames" valueProperty="Titel" name="RoleNames">
                  </rz-listbox>
                  <rz-required-validator #requiredValidator3 [component]="roleNames" [style]="{'position': 'absolute'}" text="Rollen erforderlich">
                  </rz-required-validator>
                </div>
              </div>
              <div [ngStyle]="{'marginBottom': '14px'}" class="row">
                <div class="col-md-3" [ngStyle]="{}">
                  <rz-label #label19 component="Info" [style]="{'textAlign': 'left', 'width': '100%'}" text="Notizen">
                  </rz-label>
                </div>
                <div class="col-md-9" [ngStyle]="{}">
                  <rz-textarea #notiz [rows]="4" [style]="{'height': '136px', 'width': '100%'}" [(ngModel)]="dsoBenutzer && dsoBenutzer.Notiz" name="Notiz">
                  </rz-textarea>
                </div>
              </div>
            </rz-template-form>
          </rz-panel>
        </div>
        <div class="col-md-4" [ngStyle]="{'paddingLeft': '5px'}">
          <rz-panel #panel3 [style]="{'border': '1px solid #e6ecef', 'height': '360px'}" text="Kennwort">
          </rz-panel>
          <rz-panel #panel1 [style]="{'border': '1px solid #e6ecef', 'height': '370px', 'marginTop': '20px'}" text="Sonstiges">
          </rz-panel>
        </div>
        <div class="col-md-4" [ngStyle]="{'paddingLeft': '5px'}">
          <rz-panel #bild [style]="{'border': '1px solid #e6ecef', 'height': '750px'}" text="Profilbild">
          </rz-panel>
        </div>
      </div>
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
