<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Benutzer222">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 [allowDelete]="true" [confirmDelete]="true" [allowAdd]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getBenutzersCount" [data]="getBenutzersResult" confirmDeleteText="Are you sure you want to delete this record?" confirmDeleteTitle="Confirmation" confirmDeleteOkText="Ok" confirmDeleteCancelText="Cancel" emptyText="No records to display." addText="Add" clearFilterText="Clear" applyFilterText="Apply" equalsText="Equals" notEqualsText="Not equals" lessThanText="Less than" lessThanOrEqualsText="Less than or equals" greaterThanText="Greater than" greaterThanOrEqualsText="Greater than or equals" endsWithText="Ends with" containsText="Contains" startsWithText="Starts with" (loadData)="grid0LoadData($event)" (delete)="grid0Delete($event)" (add)="grid0Add($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="BenutzerID" title="Benutzer ID" type="integer">
        </rz-grid-column>
        <rz-grid-column property="BaseID" sortProperty="Base.Name1" filterProperty="Base.Name1" title="Base" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.Base?.Name1}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column property="Benutzername" title="Benutzername" type="string">
        </rz-grid-column>
        <rz-grid-column property="AspNetUsers_Id" title="Asp Net Users Id" type="string">
        </rz-grid-column>
        <rz-grid-column property="Initialen" title="Initialen" type="string">
        </rz-grid-column>
        <rz-grid-column property="BenutzerEMail" title="Benutzer E Mail" type="string">
        </rz-grid-column>
        <rz-grid-column property="Notiz" title="Notiz" type="string">
        </rz-grid-column>
        <rz-grid-column property="FilterTextbausteinArtCode" title="Filter Textbaustein Art Code" type="string">
        </rz-grid-column>
        <rz-grid-column property="FilterKursNr" title="Filter Kurs Nr" type="integer">
        </rz-grid-column>
        <rz-grid-column property="FilterTitelUndText" title="Filter Titel Und Text" type="string">
        </rz-grid-column>
        <rz-grid-column property="FilterAutorNr" title="Filter Autor Nr" type="integer">
        </rz-grid-column>
        <rz-grid-column property="FilterThemaNummer" title="Filter Thema Nummer" type="integer">
        </rz-grid-column>
        <rz-grid-column property="FilterAnrede" title="Filter Anrede" type="string">
        </rz-grid-column>
        <rz-grid-column property="FilterDokument" title="Filter Dokument" type="string">
        </rz-grid-column>
        <rz-grid-column property="FilterInfo" title="Filter Info" type="string">
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
