<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #baseIdLabel text="Base" component="BaseID" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown #baseId [data]="getBasesResult" textProperty="Name1" valueProperty="BaseID" placeholder="Choose Basis" [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="benutzer && benutzer.BaseID" multipleItemsSelectedText="{0} items selected" emptyFilterText="No results found" name="BaseID">
            </rz-dropdown>
            <rz-required-validator #baseIdRequiredValidator [component]="baseId" text="BaseID is required" [style]="{'position': 'absolute'}">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #benutzernameLabel text="Benutzername" component="Benutzername" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #benutzername [maxLength]="130" [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="benutzer && benutzer.Benutzername" name="Benutzername">
            </rz-textbox>
            <rz-required-validator #benutzernameRequiredValidator [component]="benutzername" text="Benutzername is required" [style]="{'position': 'absolute'}">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #aspNetUsersIdLabel text="Asp Net Users Id" component="AspNetUsers_Id" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #aspNetUsersId [maxLength]="255" [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="benutzer && benutzer.AspNetUsers_Id" name="AspNetUsers_Id">
            </rz-textbox>
            <rz-required-validator #aspNetUsersIdRequiredValidator [component]="aspNetUsersId" text="AspNetUsers_Id is required" [style]="{'position': 'absolute'}">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #initialenLabel text="Initialen" component="Initialen" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #initialen [maxLength]="2" [style]="{'width': '100%'}" [(ngModel)]="benutzer && benutzer.Initialen" name="Initialen">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #benutzerEMailLabel text="Benutzer E Mail" component="BenutzerEMail" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #benutzerEMail [maxLength]="200" [style]="{'width': '100%'}" [(ngModel)]="benutzer && benutzer.BenutzerEMail" name="BenutzerEMail">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #notizLabel text="Notiz" component="Notiz" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #notiz [maxLength]="65535" [style]="{'width': '100%'}" [(ngModel)]="benutzer && benutzer.Notiz" name="Notiz">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #filterTextbausteinArtCodeLabel text="Filter Textbaustein Art Code" component="FilterTextbausteinArtCode" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #filterTextbausteinArtCode [maxLength]="3" [style]="{'width': '100%'}" [(ngModel)]="benutzer && benutzer.FilterTextbausteinArtCode" name="FilterTextbausteinArtCode">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #filterKursNrLabel text="Filter Kurs Nr" component="FilterKursNr" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-numeric #filterKursNr [style]="{'width': '100%'}" [(ngModel)]="benutzer && benutzer.FilterKursNr" name="FilterKursNr">
            </rz-numeric>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #filterTitelUndTextLabel text="Filter Titel Und Text" component="FilterTitelUndText" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #filterTitelUndText [maxLength]="255" [style]="{'width': '100%'}" [(ngModel)]="benutzer && benutzer.FilterTitelUndText" name="FilterTitelUndText">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #filterAutorNrLabel text="Filter Autor Nr" component="FilterAutorNr" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-numeric #filterAutorNr [style]="{'width': '100%'}" [(ngModel)]="benutzer && benutzer.FilterAutorNr" name="FilterAutorNr">
            </rz-numeric>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #filterThemaNummerLabel text="Filter Thema Nummer" component="FilterThemaNummer" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-numeric #filterThemaNummer [style]="{'width': '100%'}" [(ngModel)]="benutzer && benutzer.FilterThemaNummer" name="FilterThemaNummer">
            </rz-numeric>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #filterAnredeLabel text="Filter Anrede" component="FilterAnrede" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #filterAnrede [maxLength]="5" [style]="{'width': '100%'}" [(ngModel)]="benutzer && benutzer.FilterAnrede" name="FilterAnrede">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #filterDokumentLabel text="Filter Dokument" component="FilterDokument" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #filterDokument [maxLength]="20" [style]="{'width': '100%'}" [(ngModel)]="benutzer && benutzer.FilterDokument" name="FilterDokument">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #filterInfoLabel text="Filter Info" component="FilterInfo" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #filterInfo [maxLength]="255" [style]="{'width': '100%'}" [(ngModel)]="benutzer && benutzer.FilterInfo" name="FilterInfo">
            </rz-textbox>
          </div>
        </div>
        <div class="row">
          <div class="col offset-sm-3">
            <rz-button #button1 buttonType="submit" icon="save" text="Save" buttonStyle="primary">
            </rz-button>
            <rz-button #button2 buttonStyle="light" [style]="{'marginLeft': '1rem'}" text="Cancel" (click)="button2Click($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </div>
  </div>
</rz-content>
